* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
   font-size: 100%;
}

body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
   background-color: purple;
   width: 12.5rem;
   height: 12.5rem;
   margin: .625rem;
   color: white;
   text-align: center;
   padding: .625rem;
   float: left;
}

.box--1 {
   background-color: #14a4b0;
   border-radius: 20px; /* shorthand */
}
.box--2 {
   background-color: #dd87c4;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
}
.box--3 {
   background-color: #0087c0;
   border-top-left-radius: 1.5625rem;
   border-top-right-radius: 3.125rem;
   border-bottom-left-radius: 1.25rem;
   border-bottom-right-radius: .625rem;
}
.box--4 {
   background-color: #1f04e7;
   /*             ar-d         ar-i   ab-d      ab-i   */
   border-radius: 1.5625rem 3.125rem 1.25rem .625rem;
}
.box--5 {
   background-color: #008efe;
   border-radius: 50%;  /* si coloco 50% al border-radius hago un circulo */
}
.box--6 {
   background-color: #1aa7e9;
   /*             all-x / all-y */
   border-radius: 100px / 30px;
}
.box--7 {
   background-color: #fd5c38;
   /*             ar-izq-x            /   ar-izq-y */
   border-radius: 25px 50px 20px 10px / 50px 25px 30px 100px;
}
.box--8 {
   /* https://9elements.github.io/fancy-border-radius/#67.56.67.45--. */
   /* https://cssgradient.io/ */
   background: #22C1C3;
   background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
   border-radius: 56% 44% 55% 45% / 67% 67% 33% 33%;
}
.box--9 {
   background-color: #5dbc8c;
}
.box--10 {
   background-color: #d154f3;
}