@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Reset (reinicia los estilos por defecto del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Properties o Variables */
:root{ /* Es más especifico que el html */
  --mi-color-de-fondo: #ddd;
  --valor-cero: 0;
  --color-de-titulos: crimson;
  --color-de-links: blueviolet;
}

html {
  font-size: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--mi-color-de-fondo, red);
}

/* las variables pueden estar también en cualquier regla CSS */
.contenedor {
  --mi-color-de-fondo: lightblue;
  background-color: var(--mi-color-de-fondo);
  width: 70vw;
  margin: auto;
  padding: 32px;
}
/* cipchk.cssrem */
.grupo {
  background-color: lightpink;
  margin: 1.25rem;
}

/* ! :first-child | :last-child */
/* Seleccionar el primero de los parrafos dentro del div .parrafos */
.parrafos p:first-child {
  color: crimson;
}
/* Seleccionar el último de los parrafos dentro del div .parrafos */
.parrafos p:last-child {
  color: blueviolet;
}